
        <div id="manager-add"  class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>添加 </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!--:class="{'has-error': errors.has('email') }"-->
                            <form @submit.prevent="validateBeforeSubmit"   class="form-horizontal">
                                <div class="form-group" :class="{'has-error': errors.has('email') }" >
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input v-model="model.email" v-validate="'required|email'"  type="text" name="email" class="form-control">
                                        <span v-show="errors.has('email')" class="help-block m-b-none">{{errors.first('email')}}</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" :class="{'has-error': errors.has('mobile') }">
                                    <label class="col-sm-2 control-label">Mobile</label>
                                    <div class="col-sm-10">
                                        <input v-model="model.mobile" v-validate="'required|numeric|digits:11'" type="text" name="mobile" class="form-control">
                                        <span v-show="errors.has('mobile')" class="help-block m-b-none">{{errors.first('mobile')}}</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" :class="{'has-error': errors.has('password') }">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input v-model="model.password" v-validate="'required|min:6'" type="password" class="form-control" name="password">
                                        <span v-show="errors.has('password')" class="help-block m-b-none">{{errors.first('password')}}</span>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-white" type="submit">Cancel</button>
                                        <button class="btn btn-primary" >Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>




<%-contentFor('css')%>

<%-contentFor('js')%>
<script type="text/javascript">
    Vue.use(VeeValidate);
    var vue = new Vue({
        el : '#manager-add',
        data : {
            model : {
                email : '',
                mobile : '',
                password : ''
            },
        },
        methods : {
            validateBeforeSubmit : function () {
                var $this = this;
                this.$validator.validateAll().then(function(){
                        // eslint-disable-next-line
                        $this.onSubmit();
                }).catch(function(){
                        // eslint-disable-next-line
                });
            },

            onSubmit : function () {
                var $this = this;
                this.$http.post('/manager/add/save', this.model)
                    .then(function (json) {
                    if (json.body.code == 200) {
                        top.location = '/manager/list';
                    } else if (json.body.code == 300) {
                        var errors = json.body.errors;
                        for(var field in errors) {
                            $this.errors.add(field, errors[field]);
                        }
                    }
                })
                return false;
            }
        },


    });
</script>