<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <ul class="nav navbar-top-links navbar-right">


            <li>
                <a href="/manager/logout">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>


    </nav>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%=inc.topName%></h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a>管理员管理</a>
            </li>
            <li class="active">
                <% if (inc.type == 'list') {%>
                <strong>列表</strong>
                <span> | </span>
                <a href="/manager/add">添加</a>
                <% } else if (inc.type == 'add') {%>
                <a href="/manager/list">列表</a>
                <span> | </span>
                <strong>添加</strong>
                <% } else {%>
                <a href="/manager/list">列表</a>
                <span> | </span>
                <a href="/manager/add">添加</a>
                <% }%>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>